@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.base-bg-color {
  background-color: #1A1A1D;
}

.text-grey-accent {
  color: #4E4E50;
}

.bg-garnet {
  background-color: #6F2232;
}

.text-bright-pink {
  color: #950740;
}

.text-red-scarlet {
  color: #C3073F;
}
